*, *::before, *::after {
  box-sizing: inherit;
  font-family: inherit;
  padding: 0;
  margin: 0;
}

body {
  background-color: #1a1a1a;
  color: #fff;
  box-sizing: border-box;
  font-family: 'Coda', cursive;
}

a {
  color: #59fbea;
}

h1, h2, h3, h4, h5, h6 {
  color: #cca844;
  margin: 1rem;
}

p, input, button, .link-button, canvas {
  margin: 1rem;
}

input {
  display: inline-block;
  border: 1px solid #59fbea;
  padding: 5px;
  background: none;
  color: white;
  font-size: 15px;
}

button, .link-button {
  display: inline-block;
  background-color: #004F4A;
  color: #59fbea;
  padding: 1px 15px;
  border: 1px solid #59fbea;
  text-decoration: none;
  white-space: nowrap;
  font-size: 15px;
  cursor: pointer;
}

.page-wrap {
  width: 62rem;
  max-width: 100%;
  margin: auto;
}

.input-wrap {
  display: flex;
  flex-direction: column;
}

.input-wrap > .label {
  margin: 1rem;
  margin-bottom: 0;
}

[layout] {
  display: flex;
}

[layout][wrap] {
  flex-wrap: wrap;
}